<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<button class="btn btn-success">TEST</button>

<% @exersizes.each do |e| %>
	<p><%= e.name %> | <%= e.type_name %> (<%= e.type_id %>)</p>
<% end %>
